/* PHASE 1: Header */
body {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  color: black;
}

.header {
  color: white;
  background-color: red;
  width: 100%;
  border-bottom: 1px lightgray solid;
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 900px;
  margin: 0 auto;
  border-right: 1px lightgray solid;
  border-left: 1px lightgray solid;
}

.header a {
  display: block;
  padding: 10px 20px;
  cursor: pointer;
}

.header a:hover {
  background-color: black;
}

.header-logo {
  font-weight: 700;
  border-right: 1px lightgray solid;
}

.header-list {
  display: flex;
  flex-direction: row;
}

.header-list li {
  border-left: 1px lightgray solid;
}
