/* PHASE 4: Footer */

.footer {
  width: var(--total-size);
  margin: 0 auto;
  border: 1px var(--gray) solid;
  border-top: 0;
  background-color: white;
  font-size: var(--smaller);
  color: var(--dark-gray);
}

.footer-div {
  padding: 20px;
  box-sizing: border-box;
}

.footer-copy {
  float: left;
}

.footer-links {
  float: right;
}

.footer-links > li {
  float: left;
  padding-left: 20px;
}

.footer a {

}

.footer a:hover {
  color: var(--black);
}
